.navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}

mat-icon.demo-logo {
  font-size: 1.625rem;
  width: 26px;
  height: 26px;
  vertical-align: middle;
}